* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  align-items: flex-start;
}

.nav ul {
  list-style: none;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.nav-item {
  display: flex;
  color: white;
  text-align: center;
  padding-right: 10px;
  text-decoration: double;
  transition: 0.5s;
  font-family: "DM Sans", sans-serif;
}

.nav .nav-item a:visited {
  color: rgb(171, 121, 219);
}

.nav .nav-item a:hover {
  background-color: blue !important;
  color: whitesmoke;
  height: 40px;
  transition: 0.5s;
}

.navbar-toggler {
  color: #f7602f;
  background-color: #f7602f;
}

.footer {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  position: relative;
  bottom: 0;
  padding: 5px 0;
}

.redes {
  justify-content: space-between;
  display: center;
}

.redes a {
  padding: 10px;
}

.body {
  background-color: #f7602f;
  position: relative;
  min-height: 100vh;
}

.main {
  background: linear-gradient(#f7602f, #332b96, #f7602f);
}

.bandacompleta {
  position: relative;
  margin-top: 60px;
}

.bandacompleta img {
  width: 100%;
}

.bandacompleta h1 {
  position: absolute;
  top: 40%;
  left: 35%;
  padding: 30px;
}

h1 {
  text-align: absolute;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  flex-flow: flex-start;
  text-decoration: blink;
  margin-bottom: top;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 50px;
}

.escuchaindex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  text-decoration: blink;
  -webkit-text-stroke: 1px white;
  font-size: 40px;
  padding: 20px;
}

.animate__bounceInDown {
  --animate-duration: 2s;
}

.discografiacontainergeneral {
  background: linear-gradient(#f7602f, #332b96, #f7602f);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  margin-top: 60px;
}

.discografiacontainer img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 7px 7px 5px 0px #e7997c;
  border: 2px solid white;
}

.discografiaitems:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.parrafos p {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-top: 15px;
}

.carousel-inner {
  height: 700px;
}

.carousel-item {
  height: 700px;
}

.carousel-item img {
  height: 700px;
  object-fit: cover;
  transform: translate(0px, 50px);
}

.carousel-item iframe {
  margin-top: 55px;
}

p {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.divshows {
  text-align: center;
  margin-top: 60px;
  padding: 5px;
  background-image: url("../assets/velpuercaeuropa2.jpg");
  background-repeat: fixed;
}

.divshows h2 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  flex-flow: flex-start;
  color: #fbfb09;
  -webkit-text-stroke: 1px #000000;
  font-size: 25px;
  padding: 5px;
}

.divshows a {
  text-decoration: none;
  background: #8e25da;
  color: #fbfb09;
  text-shadow: 1px 1px #fff;
}

.divshows a:hover {
  background-color: blue !important;
  color: whitesmoke;
  height: 40px;
  transition: 0.5s;
}

.mainbio {
  height: 100vh;
  display: table-footer-group;
  background: linear-gradient(#f7602f, #332b96, #f7602f);
}

.h2bio {
  font-family: "DM Sans", sans-serif;
  margin-top: 80px;
  padding: 10px;
  color: black;
}

.h3bio {
  text-align: center;
  text-shadow: 1px 1px 2px pink;
  margin: 50px;
  line-height: 1.5em;
}

.caja {
  overflow: hidden;
}

.integrantes {
  text-align: center;
  text-shadow: 1px 1px 2px pink;
  margin: 20px;
  line-height: 1.5em;
}

h3 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 700px) {
  .bandacompleta img {
    margin-top: -5px;
  }
  .discografiacontainergeneral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .carousel-inner,
  .carousel-item,
  .carousel-item img {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
}
@media (max-width: 360px) {
  .discografiacontainergeneral {
    display: grid;
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
