.mainbio {
  height: 100vh;
  display: table-footer-group;
  background: $main-color;
}
.h2bio {
  font-family: $fonttitulo;
  margin-top: 80px;
  padding: 10px;
  color: $color;
  &:hover {
    transition: .5s;
    font-size: 50px;
  }
}
.h3bioprincipal {
  text-align: center;
  margin: 30px;
  line-height: 1.5em;
  min-height: 50vh;
}
.h3bio {
  text-align: center;
  margin: 30px;
  line-height: 1.5em;
}
.caja {
  overflow: hidden;
}
.h2integrantes{
  object-fit: cover;
}
.integrantes {
  text-align: center;
  text-shadow: 1px 1px 2px pink;
  margin: 20px;
  line-height: 1.5em;
}
h3 {
  text-align: center;
  font-family: $fontparrafos;
}
