.mainbio{
	height: 100vh;
	display: table-footer-group;
}
.h2bio{
	margin-top: 80px;
	padding: 10px;
	color: black;
}
.h3bio{
	text-align: center;
	text-shadow: 1px 1px 2px pink;
	margin: 20px;
   line-height: 1.5em;
}
.integrantes{
	text-align: center;
	text-shadow: 1px 1px 2px pink;
	margin: 20px;
   line-height: 1.5em;
}
h3{
	text-align: center;
   font-family: 'DM Sans', sans-serif; 
}