.carousel-inner {
  @extend .height;
}
.carousel-item {
  @extend .height;
  & img {
    @extend .height;
    object-fit: cover;
    transform: translate(0px, 50px);
    & iframe {
      margin-top: 55px;
    }
  }
}

.carousel-item p {
  font-family: $fontparrafos;
  text-align: center;
}
