.body{
  background: linear-gradient(70deg, #dc4f67, #86224d, #6c58b6);
}
.carousel-inner {
  @extend .height;
  height: 100vh;
}
.carousel-item {
  @extend .height;
  & img {
    @extend .height;
    object-fit: cover;
    transform: translate(0px, 50px);
  }
  & iframe {
    @extend .height;
    margin-top: 60px;
  }
}

.carousel-item p {
  font-family: $fontparrafos;
  text-align: center;
}
