.body{
	background-color: #f7602f;
	position: relative;
	min-height: 100vh;
}
.main{
	background-color: #f7602f;
}

.bandacompleta{
	position: relative;
	width: 100%;
	margin-top: 55px;
}
.bandacompleta img{
	width: 100%;
}
.bandacompleta h1{
	position: absolute;
	top: 40%;
	left: 35%;
	padding: 30px;
}
h1{
	text-align: absolute;
	align-items: center;
	font-family: 'DM Sans', sans-serif;
	flex-flow: flex-start;
	text-decoration: blink;
	margin-bottom: top;
	-webkit-text-stroke: 1px white;
	color: transparent;
	font-size: 50px;
}
h2{
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	flex-flow: flex-start;
	text-decoration: blink;
	-webkit-text-stroke: 1px white;
	font-size: 40px;
	padding: 20px;
}